@font-face {
    font-family: 'drunk_font';
    src: url("../fonts/drunk_font.ttf");
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.row-wrapper {
    width: 100%;
    display: block;
    padding: 10px 0 10px 0;
}

.pfp-wrapper, .name-wrapper, .checkbox-wrapper {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.pfp-wrapper {
    width: 5rem;
    padding-left: 1rem;
}

.name-wrapper {
    width: 35rem;
    text-align: left;
    margin-left: 50px;
}

.checkbox-wrapper {
    width: 5rem;
    padding-right: 1rem;
}

.pfp {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-family: drunk_font;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;    
    font-size: 18px;
}

.checkbox {
    border: none;
    width: 3rem;
    height: 3rem;
}

.btn-group-lg {
    padding: 5px;
}

