.player-grid-container {
    color: var(--text-color);
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: block;
}

.player-grid-container .header {
    padding: 1rem;
}

.player-grid-container .header .title {
    font-size: 24px;
    font-weight: bold;
}

.player-grid-container .header .subtitle {
    font-size: 18px;
}

.player-grid-container .header button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--button-color);
    border: none;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 18px;
    color: var(--button-text-color);
}

.player-grid-container .header button:hover {
    background-color: var(--button-color-hover);
    transition: 0.15s;
}

.player-grid-container .header button:disabled {
    background-color: var(--button-color-disabled);
    cursor: not-allowed;
}

.player-grid-container .players-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    user-select: none;
}

.player-grid-container .players-container .player:hover {
    box-shadow: 0 0 7px 5px var(--player-profile-shadow-color);
    transform: translateY(-7.5px);
    transition: 0.15s;
}

.player-grid-container .players-container .player,
.modal-content .modal-player-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    background-color: var(--player-profile-background-color);
    padding: 1rem;
    text-align: center;
    border: 3px solid var(--player-profile-border-color);
    height: 300px;
    flex: 1;
    transition: 0.15s;
}

.player-grid-container .players-container .player {
    cursor: pointer;
}

.player-grid-container .players-container .player .name,
.modal-content .modal-player-preview .name {
    height: 50px;
    font-size: 24px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid var(--player-profile-divider-color);
}

.player-grid-container .players-container .player .profilePicture,
.modal-content .modal-player-preview .profilePicture {
    width: 175px;
    height: 175px;
    border-radius: 100%;
    margin-top: auto;
    box-shadow: 0 0 1px 5px;
    color: var(--default-profile-picture-border-color);
    margin-bottom: 12.5px;
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
}

.modal-content .modal-header {
    border-color: var(--modal-divider-color);
    margin-bottom: 40px;
}

.modal-content .modal-footer {
    border-color: var(--modal-divider-color);
}

.modal-content Button {
    border: none;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 3px;
    cursor: pointer;
    line-height: 18px;
}

.modal-content .btn-close {
    filter: var(--modal-close-button-filter);
    opacity: 0.8;
}

.modal-content #modal-new-player-preview-container {
    width: 100%;
}

.modal-content .modal-player-preview {
    width: 60%;
    margin: auto;
    transition: 0s;
}

.modal-content input {
    background-color: var(--modal-input-background-color);
    color: var(--text-color);
    border-radius: 3px;
    border-color: var(--modal-input-border-color);
}

.modal-content input:focus {
    border: 1px solid var(--modal-input-focus-border-color);
    box-shadow: none;
    background-color: var(--modal-input-background-color);
    color: var(--text-color);
}

.modal-content .form-label {
    margin-top: 10px;
    margin-bottom: 2px;
}